asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
cryptography==44.0.0
Django==5.0.6
django-channels==0.7.0
django-cors-headers==4.4.0
djangogrpcframework==0.2.1
django-q2==1.6.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
grpcio==1.64.1
grpcio-tools==1.64.1
idna==3.7
inflection==0.5.1
multidict==6.0.5
oauthlib==3.2.2
packaging==24.1
pillow==10.3.0
protobuf==5.27.1
psycopg2-binary==2.9.9
pulsar-client==3.5.0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==72.1.0
six==1.16.0
sqlparse==0.5.0
uritemplate==4.1.1
urllib3==2.2.2
uWSGI==2.0.26